<div class="relative w-full lg:h-[40rem] h-[30rem]">
    <div class="absolute inset-0 z-0">
        <img class="w-full h-full object-cover" src="https://media.istockphoto.com/id/938128386/photo/peach-blossoms-background-in-spring.webp?b=1&s=170667a&w=0&k=20&c=7Vx2XkOWgNyS8YZahKocjQEit77BtCDNkXIGTJQnkgE=" alt="">
    </div>
    <div class="absolute inset-0 flex flex-col justify-center items-center bg-black bg-opacity-50">
        <p class="text-white text-sm md:text-lg lg:text-xl mb=5">Flower & Gift</p>
        <h1 class="text-white text-2xl md:text-4xl lg:text-6xl font-bold text-center mb-5">Perfect Bunch<br> For Every Occasion</h1>
        <button class="mt-4 px-6 py-2 bg-[--primary] text-white font-semibold rounded-full">Shop Now</button>
    </div>
</div>
