<div class="bg-white h-[20rem] flex mt-10 flex-col items-center justify-center py-12 px-4 sm:px-6 lg:px-8 min-h-screen" style="background-image: url('https://img.freepik.com/premium-photo/minimalist-sakura-cherry-blossom-pink-gold-greeting-card-generative-ai_887552-3798.jpg'); background-size: cover; background-position: center;">
    <h2 class="text-5xl text-white mb-4">Get The Latest Deals</h2>
    <p class="text-lg text-white mb-8">$30 coupon for first shopping</p>
    <form class="mt-8 lg:w-1/2 w-full">
        <div class="flex items-center py-2">
            <input class="appearance-none bg-white focus:outline-[--primary] outline-none rounded-l-full border-none w-full text-gray-700 py-3 px-3 leading-tight" type="email" placeholder="Email*" aria-label="Email" required>
            <button class="flex-shrink-0 bg-[--primary] hover:border-pink-700 text-sm text-white py-3 rounded-r-full px-10 rounded" type="submit">
                Subscribe
            </button>
        </div>
    </form>
</div>